.site-header {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100vh;
  background: $site-header-bg;
  clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
  @media (max-width: $bp-sm) {
    justify-content: space-around;
    width: 100%;
    height: initial;
    clip-path: initial;
  }
}

.whoami {
  position: relative;
  white-space: nowrap;
  &-name {
    color: $text-color;
    font-size: 42px;
    text-align: center;
  }
  &-desc {
    color: darken($text-color, 10%);
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    @media (max-width: $bp-sm) {
      position: absolute;
      bottom: -7px;
      left: 50%;
      font-size: 14px;
      text-shadow: 0 0 1px black;
      transform: translateX(-50%);
    }
  }
}

.nav-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 45px;
  font-size: 22px;
  @media (max-width: $bp-sm) {
    justify-content: space-around;
    margin: 0;
  }
  ul {
    @media (max-width: $bp-sm) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
    }
  }
  a {
    display: inline-block;
    position: relative;
    margin-top: 15px;
    padding: 6px;
    color: $text-color;
    text-decoration: none;
    &:before {
      visibility: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      content: "";
      background-color: $text-color;
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover {
      cursor: pointer;
      &:before {
        visibility: visible;
        width: 100%;
      }
    }
  }
  .active a {
    &:before {
      visibility: visible;
      width: 100%;
    }
  }
}

.footer {
  width: 60%;
  margin-left: 15px;
  text-align: left;
  @media (max-width: $bp-sm) {
    display: none;
  }
}