.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/sprite.svg);
}
.icon-brand4 {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-brand2 {
  width: 32px;
  height: 32px;
  background-position: -34px 0;
}
.icon-brand1 {
  width: 32px;
  height: 32px;
  background-position: -68px 0;
}
.icon-brand3 {
  width: 32px;
  height: 32px;
  background-position: -102px 0;
}