.project {
  &s {
    // Main container
    .box-content {
      width: 95%;
      text-align: center;
    }
  }
  &-item {
    display: inline-block;
    position: relative;
    margin: 15px;
    line-height: 0;
  }
  &-link {
    display: inline-flex;
    justify-content: center;
    transition: all 2s ease-in-out;
    &:after {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(#C77979, .5);
      transition: all .3s ease-in-out;
      transform: scale(0);
    }
    &:hover {
      .project-preview {
        opacity: 1;
        animation: projectPreview 1s ease-in-out;
      }
      &:after {
        transform: scale(1);
      }
    }
  }
  &-preview {
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 50%;
    padding: 14px;
    border: 3px solid $text-color;
    color: $text-color;
    font-size: $font-size-base*1.8;
    transition: .3s ease-in-out;
    transform: translateY(-50%) rotateX(0deg);
  }
}

@keyframes projectPreview {  
  33% { transform: translateY(-50%) skew(65deg) rotateX(90deg); }
  50% { transform: translateY(-50%) skew(0) rotateX(0) }
}