// Reset
@import "reset";
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Icons
@import "icons";
// Header
@import "header";
// Page: Projects
@import "projects";
// Page: Contact
@import "contact";

html,
body {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @media (max-width: $bp-sm) {
    overflow-y: auto;
  }
}
body {
  color: $text-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family;
  background: $body-bg;
  background-attachment: fixed;
  background-size: cover;
}
.app {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  @media (max-width: $bp-sm) {
    flex-direction: column;
    height: initial;
    overflow-y: auto;
  }
}
.site-content {
  display: flex;
  flex-basis: 70%;
  justify-content: center;
  height: max-content;
  max-height: 85vh;
  @media (max-width: $bp-sm) {
    width: 98%;
    max-height: unset;
  }
}
.box {
  box-sizing: border-box;
  margin: 15px 0;
  padding: 8px;
  overflow-y: auto;
  background: $box-bg;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  &-title {
    position: relative;
    color: invert($text-color);
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
  }
  &-content {
    width: 70%;
    margin: 15px auto;
    color: invert($text-color);
    font-size: 18px;
    text-align: justify;
  }
}
.boxes {
  display: flex;
  flex-wrap: wrap;
}
.list {
  list-style: square;
  text-align: left;
  li {
    margin-top: 5px;
    margin-left: 55px;
  }
}
.smile:before {
  display: inline-block;
  position: relative;
  left: 5px;
  content: '=)';
  transform: rotate(45deg);
}
i {
  font-style: italic;
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: invert($box-bg);
}
::-webkit-scrollbar-track {
	background-color: $box-bg;
}