@import "reset";
@import "variables";
@import "mixins";

html, body { height: 100%; }

body {
  background: $main-bg;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: $main-color;
}

body *{ z-index: 1; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
}

h3 { font-size: 1.7em; letter-spacing: 2px; }

header { height: $header-height; }

header ul {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, .3);
  border-bottom: 2px solid $main-color;
  padding: 8px;
}

header a {
  color: #eee;
  text-shadow: 0 0 1px black;
  padding: 15px;
}

a {
  color: darken($main-color, 15%);
  text-decoration: none;
  padding: 2px;
  cursor: pointer;
}

header a:hover {
  color: $main-color;
}

header li { transition: all .2s ease-in-out; }
header li:nth-child(odd):hover{ transform: rotateZ(3deg); }
header li:nth-child(even):hover{ transform: rotateZ(-3deg); }

a.navigation {
  position: absolute;
  top: 0;
}

//section { height: calc( 100% - #{$header-height} ); }

article {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  width: 100%;
  min-height: 100vh;

  @include breakpoint(m) {
    background-size: cover;
  }
}

@for $i from 1 through 3 {
  article:nth-child(#{$i}) {
    @if $i == 3 {
      background-image: url(../images/#{$i}.png);
    } @else {
      background-image: url(../images/#{$i}.jpg);
    }
  }
}

article > h3 { margin-top: 15px; text-shadow: 0 0 1px rgba(0, 0, 0, .7); }

article {
  position: relative;
}

[role="intro"]:after,
[role="aboutme"]:after {
  content: '';
  background: url(../images/pattern.png);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

[role="intro"] {
  background-attachment: fixed;
  justify-content: center;

  @include breakpoint(s) {
    background-attachment: initial;
  }

  h1 {
    font-size: 8vh;
    letter-spacing: 1px;
    color: $main-color;
    text-shadow: 0 0 1px black;
  }

  h3 {
    font-size: 4vh;
    letter-spacing: 1vw;
    margin-top: 3vh;
  }

}

[role="aboutme"] {
  align-items: initial;
  text-align: center;
}

#aboutme {
  background: rgba(255, 255, 255, .5);
  border: 1px solid black;
  border-radius: 3px;
  color: #222;
  width: 28%;
  margin: 5%;
  padding: 8px;

  @include breakpoint(s) {
    width: 95%;
    margin: 25px auto;
  }
}


[role="mywork"] {
  background-color: #eee;
  background-size: inherit;
  text-align: center;
}

.project { position: relative; display: inline-block; margin: 5px; }

.project a {
  display: inline-block;
  padding: 0;
}

.project a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 99%;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
}

.project a:before {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.project a:hover:before {
  content: attr(data-title);
  background: desaturate(transparentize($main-color, .3), 50%);
  color: black;
  transition: all 5s ease-in-out;
}

.project img {
  width: 350px;
  height: 200px;
}

[role=contact] {
  align-items: initial;
  text-align: center;
  min-height: initial;
}


#contact {
  color: rgba(255, 255, 255, .87);
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}

.contact--email {
  display: inline-block;
  background: $main-color;
  color: rgba(0, 0, 0, 0.87);
  padding: 6px;
  font-size: 1.6em;
  margin: 15px;
}

.contact-stuff{
  margin-top: 5px;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 125%;

  p {
    margin: 15px;
    &:nth-child(odd) { transform: rotateZ(2deg); }
    &:nth-child(even) { transform: rotateZ(-2deg); }
  }

}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/icons.svg);
  vertical-align: middle;
  min-width: 25px;
}

.icon-fb {
  width: 12px;
  height: 20px;
  background-position: -25px 0;
}
.icon-at {
  width: 17px;
  height: 20px;
  background-position: -50px 0;
}
.icon-mobile {
  width: 20px;
  height: 20px;
  background-position: -100px 0;
}

footer {
  color: rgba(255, 255, 255, .5);
  padding: 15px;
  font-size: 12px;
  text-align: center;
}








::-webkit-scrollbar {
  background: black;
  width: 1vw;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
  outline: 1px solid black;
}

::selection {
  background: $main-color;
  color: $main-bg;
}
